<a href="https://colab.research.google.com/github/Khushi2217/Assignment/blob/main/Diabities_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
dataset = pd.read_csv("Diabities.csv")

In [3]:
dataset.head()

,Unnamed: 0,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,NaN,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,NaN,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,NaN,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,NaN,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

In [4]:
dataset.head(5)

,Unnamed: 0,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,NaN,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,NaN,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,NaN,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,NaN,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                0 non-null      float64
 1   Pregnancies               768 non-null    float64
 2   Glucose                   768 non-null    float64
 3   blood pressure            768 non-null    float64
 4   skin thickness            768 non-null    float64
 5   Insulin                   768 non-null    float64
 6   BMI                       768 non-null    float64
 7   DiabetesPedigreeFunction  768 non-null    float64
 8   Age                       768 non-null    float64
 9   Outcome                   768 non-null    float64
dtypes: float64(10)
memory usage: 60.2 KB

In [6]:
dataset.isnull().sum()

Unnamed: 0                  769
Pregnancies                   1
Glucose                       1
blood pressure                1
skin thickness                1
Insulin                       1
BMI                           1
DiabetesPedigreeFunction      1
Age                           1
Outcome                       1
dtype: int64

In [7]:
dt = dataset.dropna(how="all",axis=1)
print(dt)

     Pregnancies  Glucose  blood pressure  skin thickness  Insulin   BMI  \
0            6.0    148.0            72.0            35.0      0.0  33.6
1            1.0     85.0            66.0            29.0      0.0  26.6
2            8.0    183.0            64.0             0.0      0.0  23.3
3            1.0     89.0            66.0            23.0     94.0  28.1
4            0.0    137.0            40.0            35.0    168.0  43.1
..           ...      ...             ...             ...      ...   ...
764          2.0    122.0            70.0            27.0      0.0  36.8
765          5.0    121.0            72.0            23.0    112.0  26.2
766          1.0    126.0            60.0             0.0      0.0  30.1
767          1.0     93.0            70.0            31.0      0.0  30.4
768          NaN      NaN             NaN             NaN      NaN   NaN

     DiabetesPedigreeFunction   Age  Outcome
0                       0.627  50.0      1.0
1                       0.351  31.0      0.0
2                       0.672  32.0      1.0
3                       0.167  21.0      0.0
4                       2.288  33.0      1.0
..                        ...   ...      ...
764                     0.340  27.0      0.0
765                     0.245  30.0      0.0
766                     0.349  47.0      1.0
767                     0.315  23.0      0.0
768                       NaN   NaN      NaN

[769 rows x 9 columns]

In [8]:
dt.head()

,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

In [9]:
dt.isnull().sum()

Pregnancies                 1
Glucose                     1
blood pressure              1
skin thickness              1
Insulin                     1
BMI                         1
DiabetesPedigreeFunction    1
Age                         1
Outcome                     1
dtype: int64

In [10]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    float64
 1   Glucose                   768 non-null    float64
 2   blood pressure            768 non-null    float64
 3   skin thickness            768 non-null    float64
 4   Insulin                   768 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    float64
 8   Outcome                   768 non-null    float64
dtypes: float64(9)
memory usage: 54.2 KB

In [11]:
 x = dt.iloc[:,:-1]

In [12]:
y = dataset.iloc[:, -1]

In [13]:
print(x)
print(y)

     Pregnancies  Glucose  blood pressure  skin thickness  Insulin   BMI  \
0            6.0    148.0            72.0            35.0      0.0  33.6
1            1.0     85.0            66.0            29.0      0.0  26.6
2            8.0    183.0            64.0             0.0      0.0  23.3
3            1.0     89.0            66.0            23.0     94.0  28.1
4            0.0    137.0            40.0            35.0    168.0  43.1
..           ...      ...             ...             ...      ...   ...
764          2.0    122.0            70.0            27.0      0.0  36.8
765          5.0    121.0            72.0            23.0    112.0  26.2
766          1.0    126.0            60.0             0.0      0.0  30.1
767          1.0     93.0            70.0            31.0      0.0  30.4
768          NaN      NaN             NaN             NaN      NaN   NaN

     DiabetesPedigreeFunction   Age
0                       0.627  50.0
1                       0.351  31.0
2                       0.672  32.0
3                       0.167  21.0
4                       2.288  33.0
..                        ...   ...
764                     0.340  27.0
765                     0.245  30.0
766                     0.349  47.0
767                     0.315  23.0
768                       NaN   NaN

[769 rows x 8 columns]
0      1.0
1      0.0
2      1.0
3      0.0
4      1.0
      ...
764    0.0
765    0.0
766    1.0
767    0.0
768    NaN
Name: Outcome, Length: 769, dtype: float64

In [14]:
dt1 = dt.dropna(how="all")

In [15]:
dt1.head(5)

,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

In [16]:
dt1.isnull().sum()

Pregnancies                 0
Glucose                     0
blood pressure              0
skin thickness              0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [17]:
 x = dt1.iloc[:,:-1]

In [18]:
 y = dt1.iloc[:,-1]

In [19]:
x

,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0
...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340,27.0
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47.0
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23.0

In [20]:
y

0      1.0
1      0.0
2      1.0
3      0.0
4      1.0
      ...
763    0.0
764    0.0
765    0.0
766    1.0
767    0.0
Name: Outcome, Length: 768, dtype: float64

In [21]:
pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.2.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.6)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=81b92dfb044737cd2750f751d56aa4034bc93dab0e05b2d651078e7716414b9b
  Stored in directory: /root/.cache/pip/wheels/46/ef/c3/157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [22]:
scaler = StandardScaler()

In [23]:
scaler.fit(x)

StandardScaler()

In [24]:
standard_data= scaler.transform(x)

In [25]:
print(standard_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [26]:
x = standard_data
print(x)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x,y,test_size=0.2)

In [28]:
#random forest
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=6, criterion='entropy')
clf.fit(X_train, Y_train.ravel())
y_pred = clf.predict(X_test)

In [29]:
from sklearn.metrics import accuracy_score

In [30]:
accuracy_score(Y_test, y_pred)

0.7402597402597403

In [31]:
acc2 = round(accuracy_score(Y_test, y_pred),2)*100
acc2

74.0

In [32]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression

In [33]:
lr = LogisticRegression(solver='lbfgs', max_iter=1000)
lr.fit(X_train, Y_train.ravel())
y_pred = lr.predict(X_test)

In [34]:
accuracy_score(Y_test, y_pred)

0.7467532467532467

In [35]:
acc2 = round(accuracy_score(Y_test, y_pred),2)*100
acc2

75.0

In [36]:
#Kneighbor classifier
from sklearn.neighbors import KNeighborsClassifier

In [37]:
kn = KNeighborsClassifier()
kn.fit(X_train, Y_train)
y_pred = kn.predict(X_test)
accuracy_score(Y_test, y_pred)

0.7207792207792207

In [38]:
acc2 = round(accuracy_score(Y_test, y_pred),2)*100
acc2

72.0

In [39]:
# input_data=(11,143,94,33,146,36.6,0.254,51)
# input_data_as_numpy = np.asarray(input_data)
# input_data_reshape = input_data_as_numpy.reshape(1,-1)

In [41]:
# std_data = scaler.transform(input_data_reshape)
# print(std_data)
# prediction= lr.predict(std_data)
# print(prediction)
# if (prediction[0]==0):
#   print("The patient is not diabetic")
# else:
#   print("The patient is diabetic ")

[[ 2.12477957  0.69183807  1.28699125  0.7818138   0.57481223  0.58477051
  -0.65801229  1.51108316]]
[1.]
The patient is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"